Repository semaphore-protocol/extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol,yaml,yml}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore(explorer): add website metadata
  apps/explorer/public/apple-icon.png
  apps/explorer/public/icon.svg
  apps/explorer/public/social-media.png
  apps/explorer/src/app/favicon.ico
  apps/explorer/src/app/layout.tsx
Due: prettier --write, eslint

Update apps/explorer/LICENSE
  apps/explorer/LICENSE
Due: none

Update apps/explorer/README.md
  apps/explorer/README.md
Due: prettier --write

feat: improve explorer ux (#20)
  apps/explorer/public/apple-icon.png
  apps/explorer/public/icon.svg
  apps/explorer/public/social-media.png
  apps/explorer/src/app/[network]/[group]/page.tsx
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/favicon.ico
  apps/explorer/src/app/globals.css
  apps/explorer/src/app/layout.tsx
Due: prettier --write, eslint

feat: add new semaphore explorer to apps (#19)
  .gitignore
  apps/explorer/LICENSE
  apps/explorer/README.md
  apps/explorer/next.config.mjs
  apps/explorer/package.json
  apps/explorer/postcss.config.mjs
  apps/explorer/public/apple-icon.png
  apps/explorer/public/icon.svg
  apps/explorer/public/social-media.png
  apps/explorer/src/app/[network]/[group]/page.tsx
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/fonts/GeistMonoVF.woff
  apps/explorer/src/app/fonts/GeistVF.woff
  apps/explorer/src/app/globals.css
  apps/explorer/src/app/layout.tsx
  apps/explorer/src/components/Navbar.tsx
  apps/explorer/src/components/SearchBar.tsx
  apps/explorer/tailwind.config.ts
  apps/explorer/tsconfig.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@317f6fe57f5ca08bc293e3e95ddc11a54636f082 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

docs(explorer): update README.md
  README.md
Due: prettier --write

docs(explorer): update README.md (#21)
  README.md
Due: prettier --write

chore(benchmarks): add license to benchmarks app
  apps/benchmarks/LICENSE
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@80aa1c08c82ce7c032399306d6470649f544c661 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  index.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(benchmarks): add license to benchmarks app (#22)
  apps/benchmarks/LICENSE
Due: none

Deploying to gh-pages from @ semaphore-protocol/extensions@1baabdfdcaa935bfe5ecb0ee12be53fb336a96a2 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

feat(explorer): add filter groups by admin
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

feat(explorer): add filter groups by admin (#24)
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@b86fb4602a9059d6426af45a64b32b96a573517a 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

chore(explorer): use the latest semaphore version
  apps/explorer/package.json
  yarn.lock
Due: prettier --write

chore(explorer): use the latest semaphore version (#27)
  apps/explorer/package.json
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@b52e07ffabf19d48f464497e4a8b3547c50e2fa3 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

fix(explorer): sort group response by id in ascending order
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

fix(explorer): sort group response by id in ascending order (#28)
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@72590e796a2e0da4fea18c8b07b865bc15d65959 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

feat(explorer): filter content using query params
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

feat(explorer): filters groups using query parameters
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Fix HTML Tag Nesting and Table Structure Update README.md
  README.md
Due: prettier --write

chore: update contributing and pull request temaplate files
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

Deploying to gh-pages from @ semaphore-protocol/extensions@d1cb7e9862c060229418a012486d403ef7b5dd3b 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

Filter groups/admins via query params (#29)
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@91ae57edea0ee5dbdc2ed711b958d52dd4c8bb03 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

feat(explorer): i have added a share button, which adds a query param admin & copy text to clipboard
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

feat(explorer): add button to share
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

feat(explorer): add a button
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

refactor: code update
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Update apps/explorer/src/components/SearchBar.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Update apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/app/[network]/page.tsx
Due: prettier --write, eslint

feat(explorer): i have added a share button, which adds a query param… (#32)
  apps/explorer/src/app/[network]/page.tsx
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@9583b7c4b5da0de3bf1c9a1a740c230137d48e5a 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

style: format code with prettier
  apps/explorer/src/components/SearchBar.tsx
Due: prettier --write, eslint

Deploying to gh-pages from @ semaphore-protocol/extensions@a0d42600ebb130422c3d92308c1f242643bc8b7e 🚀
  classes/_semaphore_extensions_heyauthn.HeyAuthn.html
  functions/_semaphore_extensions_identity_proof.generate.html
  functions/_semaphore_extensions_identity_proof.verify.html
  types/_semaphore_extensions_identity_proof.IdentityProof.html
Due: none

Update ---feature.md
  .github/ISSUE_TEMPLATE/---feature.md
Due: prettier --write

Update identity-proof.circom
  packages/identity-proof.circom/src/identity-proof.circom
Due: none
